body{
	margin: 50px 0 50px 50px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	background-color: #fff;
}

.column {
	float: left;
	margin-right: 50px;
}

label {
	display: block;
	font-weight: bold;
}

input,
textarea {
	/*width: 600px;*/
	margin-bottom: 30px;
}

input + .maxlength,
textarea + .maxlength {
	position: relative;
	top: -30px;
}
	/*we give a height to the chat div, to be able to see it. put css in separate file, link to it */
	/* hide the content wrap, we don't want the user to submit messages before submitting a user name */ 
	/* float the chat wrap left */
	/* adding a border to the chat wrap */
		#chat{
			height:500px; 
		}
		#contentWrap{
		
			display: none; 
		}
		#chatWrap{
			float: left; 
			border: 1px #000 solid; 
		}
