h1{
	margin: 0px 0px 25px 0px;	
	font-family: Arial, sans-serif;
	font-size: 21px;
	line-height: 15px;
	color: #333;
}
body{
	margin: 25px 0 25px 25px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	background-color: #fff;
	 
}

.column {
	float: left;
	margin-right: 30px;
}

label {
	width:280px;
	display: block;
	font-weight: bold;
}

input {
	width: 150px;
	margin-bottom: 30px;
}

textarea {
	width: 280px;
	margin-bottom: 30px;
}

input + .maxlength,
textarea + .maxlength {
	position: relative;
	top: -30px;
}
	/* we give a height to the chat div, to be able to see it. */
	/* we hide the content wrap before submitting a user name, we don't want the user to submit messages before submitting a user name */ 
	/* we float the chat wrap left */
#chat{
	padding: 10px 10px 10px 10px;
	height:280px; 
	width: 280px;
}

#contentWrap{
	display: none; 
	width: 350px;
	height: 350px;
}

#chatWrap{
	width: 350 px;
	color: #333;
	background:#CCCCCC;	
}

#send-message{
margin: 10px 10px 10px 10px;
	
	
}
#message{
	width:330px;
	height:auto;
}

#usersheading{
	width:280px;
	height:10px;
}
#users{
	width:280px;
	height:30px;
}
#twitter
{
	height:30px;
	float: right;
}
