h1{
	margin: 0px 0px 25px 0px;
	font-family: Arial, sans-serif;
	font-size: 21px;
	line-height: 15px;
	color: #333;
}
body{
	margin: 25px 0 25px 25px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	background-color: #fff;
	 
}

.column {
	float: left;
	margin-right: 50px;
}

label {
	display: block;
	font-weight: bold;
}

input,
textarea {
	width: 300px;
	margin-bottom: 30px;
}

input + .maxlength,
textarea + .maxlength {
	position: relative;
	top: -30px;
}
	/* we give a height to the chat div, to be able to see it. */
	/* we hide the content wrap before submitting a user name, we don't want the user to submit messages before submitting a user name */ 
	/* we float the chat wrap left */
#chat{
	margin: 10px 10px 10px 10px;
	height: 300px; 
	width: 300px;
}

#contentWrap{

	display: none; 
	width: 350px;
}

#chatWrap{
	color: #333;
	width: 300 px;
	background:#CCCCCC;	
}

#send-message{
margin: 10px 10px 10px 10px;
	
	
}
